@import "tailwindcss";
@plugin "daisyui";




:root {
  /** colors **/
  --color-green: #6E7355;
  --color-brown: #A86B43;
  --color-blue: #7DAEDB;
  --color-offWhite: #F9F7F1;
  --color-white: #FFF;
  --color-anthrazit: #333933;
  --color-bg-green: #6E73554D;
  --color-bg-brown: #E4D8CB;

  /** font-sizes **/
  --font-size-h1: clamp(22px, calc(22px + (34 - 22) * ((100vw - 375px) / (1920 - 375))), 34px);
  --font-size-h2: clamp(32px, calc(32px + (38 - 32) * ((100vw - 375px) / (1920 - 375))), 38px);
  --font-size-h3: clamp(22px, calc(22px + (34 - 22) * ((100vw - 375px) / (1920 - 375))), 34px);
  --font-size-h4: clamp(18px, calc(18px + (25 - 18) * ((100vw - 375px) / (1920 - 375))), 25px);
  --font-size-xxl: clamp(35px, calc(35px + (45 - 35) * ((100vw - 375px) / (1920 - 375))), 45px);
  --font-size-p: clamp(15px, calc(15px + (18 - 15) * ((100vw - 375px) / (1920 - 375))), 18px);
  --font-size-button : clamp(17px, calc(17px + (19 - 17) * ((100vw - 375px) / (1920 - 375))), 19px);
  --font-size-small: clamp(14px, calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 375))), 16px);
  --nav-height: 10rem;

  /** fonts **/
  --mainfont: 'Open Sans', sans-serif;
  --headlinefont: 'Cormorant Garamond', serif;

  /** gap **/
  --gap-s: clamp(10px, 2.66vw, 15px);
  --gap-m: clamp(20px, 5.33vw, 30px);
  --gap-l: clamp(40px, 9.33vw, 50px);
  --gap-xl: clamp(80px, 20vw, 150px);
  --content-gap: clamp(100px, 20vw, 200px);

  --border-radius: 0.30rem;
}

body {
  font-size: 18px;
  color: var(--color-anthrazit);
  background-color: var(--color-offWhite);
}

img {
  max-width: 100%;
  height: auto;
  transition: transform 0.9s ease-in-out, filter 0.9s ease-in-out;
}

img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}



.nav-link {
  font-size: var(--font-size-h3);
  font-family: var(--headlinefont), serif;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.5s ease;

}

@media screen and (max-width: 768px)  {
  .nav-link {
  font-size: var(--font-size-h4);
  }
}


.nav-link:hover {
   text-decoration: underline;
  color: var(--color-anthrazit);
}


/** FONTS **/

p, li{
  font-family: var(--mainfont), sans-serif;
  font-size: var(--font-size-p);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
}

h1 {
  font-family: var(--headlinefont), sans-serif;
  font-size: var(--font-size-h1);
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: var(--headlinefont), sans-serif;
  font-size: var(--font-size-h2);
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: var(--headlinefont), sans-serif;
  font-size: var(--font-size-h3);
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-family: var(--mainfont), sans-serif;
  font-size: var(--font-size-h4);
  font-weight: 800;
  font-style: normal;
}



/** BUTTONS **/

.button {
  font-family: var(--mainfont), sans-serif;
  font-size: var(--font-size-button);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border-radius: var(--border-radius);
  display: inline flex;
  width: auto;
  padding: calc(var(--gap-s)/2) var(--gap-s);
  transition: all 0.5s ease-in-out;
}

.button-primary {
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-offWhite);
}

.button-primary:hover {
  background: none;
  color: var(--color-green);
}

.button-primary.dark:hover {
  border: 1px solid var(--color-anthrazit);
  background: none;
  color: var(--color-anthrazit);
}

.button-secondary {
  border: 1px solid var(--color-anthrazit);
}

.button-secondary:hover {
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-white);
}

/** typography **/
/* open-sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
  font-display: optional;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/OpenSans_Condensed-Medium.ttf') format('truetype');
  font-display: optional;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
  font-display: optional;
}


/* cormorant-garamond  */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-display: optional;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/CormorantGaramond-Medium.ttf') format('truetype');
  font-display: optional;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/CormorantGaramond-Bold.ttf') format('truetype');
  font-display: optional;
}
